<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <!--<h1 class="page-header">Infos</h1>-->
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="info in infos">
          <!-- LED -->
          <span ng-if="info.type=='led'">
            <span class="pull-right">
              <input type="checkbox" bs-switch switch-size="small" switch-on-color="success" switch-off-color="default"
                ng-model="info.value" ng-true-value="1" ng-false-value="0"
                ng-change="action(info, 'switch')"/>
              <button type="button" class="btn btn-sm" ng-class="info.value=='blink'?'btn-warning':'btn-default'"
                ng-click="action(info, 'blink')">
                  <i class="fa fa-bullseye"></i> blink
              </button>
            </span>
            <span class="fa-stack fa-lg" ng-if="info.type=='led'">
              <i class="fa fa-stack-2x fa-circle"></i>
              <i class="fa fa-stack-1x fa-lightbulb-o fa-inverse" style="color: {{info.info}}"></i>
            </span>
          </span>

          <!-- BUZZER -->
          <span ng-if="info.type=='buzzer'">
            <span class="pull-right">
              <button type="button" class="btn btn-sm" ng-click="action(info, 'stop')">
                  <i class="fa fa-stop"></i>
              </button>
              <select ng-options="song as song for song in songs" ng-model="song"></select>
              <button type="button" class="btn btn-sm" ng-click="action(info, 'song', song)">
                  <i class="fa fa-play"></i>
              </button>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x fa-circle"></i>
              <i class="fa fa-stack-1x fa-music fa-inverse"></i>
            </span>
          </span>

          <!-- PROXIMITY -->
          <span ng-if="info.type=='range'">
            <span class="pull-right">
              {{info.value}}
              <button type="button" class="btn btn-sm" ng-click="action(info, 'refresh')">
                  <i class="fa fa-refresh"></i>
              </button>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x fa-circle"></i>
              <i class="fa fa-stack-1x fa-wifi fa-inverse"></i>
            </span>
          </span>

          <!-- MOTOR DC -->
          <span ng-if="info.type=='motor'">
            <span class="pull-right">
              <input type="number" ng-model="speed" min="0" max="100" />
              <button type="button" class="btn btn-sm" ng-class="info.value=='reverse'?'btn-warning':'btn-default'"
                ng-click="action(info, 'reverse', speed)">
                  <i class="fa fa-arrow-circle-left"></i>
              </button>
              <button type="button" class="btn btn-sm" ng-class="info.value=='stop'?'btn-warning':'btn-default'"
                ng-click="action(info, 'stop')">
                  <i class="fa fa-stop"></i>
              </button>
              <button type="button" class="btn btn-sm" ng-class="info.value=='forward'?'btn-warning':'btn-default'"
                ng-click="action(info, 'forward', speed)">
                  <i class="fa fa-arrow-circle-right"></i>
              </button>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x fa-circle"></i>
              <i class="fa fa-stack-1x fa-motorcycle fa-inverse"></i>
            </span>
          </span>

          <!-- MOTOR SERVO -->
          <span ng-if="info.type=='servo'">
            <span class="pull-right">
              {{info.value}}
              <input type="number" ng-model="angle" min="0" max="180" />
              <button type="button" class="btn btn-sm btn-default"
                ng-click="action(info, 'angle', angle)">
                  <i class="fa fa-play"></i>
              </button>
            </span>
            <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x fa-circle"></i>
              <i class="fa fa-stack-1x fa-car fa-inverse"></i>
            </span>
          </span>

          <b>{{info.name}}</b> 
          <i>{{info.info}}</i>
        </li>
      </ul>
    </div>
  </div>
</div>
